.tab {
  position: relative;
  background-color: $light;

  &::before {
    display: block;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-image: url("../../img/background/barbells.png");
    background-image: url("../../img/background/barbells.webp");
    background-size: contain;
    bottom: -135px;
    right: 0;
    width: 287px;
    height: 494px;

    @include retina {
      background-image: url("../../img/background/barbells@2x.png");
      background-image: url("../../img/background/barbells@2x.webp");
    }

    @include vp-1023 {
      background-image: url("../../img/background/barbells-tablet.png");
      background-image: url("../../img/background/barbells-tablet.webp");
      bottom: -130px;
      width: 347px;
      height: 444px;

      @include retina {
        background-image: url("../../img/background/barbells-tablet@2x.png");
        background-image: url("../../img/background/barbells-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: none;
    }
  }
}

.tab__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  padding: 120px 20px;
  max-width: $vp-1200;

  @include vp-1199 {
    gap: 20px;
    padding: 100px 45px 95px;
  }

  @include vp-767 {
    padding: 58px 15px 75px;
  }
}

.tab__title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $primary;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.tab__btns {
  display: flex;
  gap: 35px;
  border-bottom: 2px solid $grey;
  padding: 0 0 8px 0;
  margin: 0;

  @include vp-1199 {
    gap: 45px;
  }

  @include vp-767 {
    padding: 0 0 12px 0;
  }
}

.tab__btn {
  position: relative;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba($primary, 0.5);
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  &--active {
    color: $primary;
    &::before {
      position: absolute;
      content: "";
      background-color: $red;
      width: 100%;
      height: 2px;
      top: 40px;
      left: 0;

      @include vp-1199 {
        top: 38px;
      }
    }
  }

  @include hover-focus {
    color: $primary;
    &::before {
      position: absolute;
      content: "";
      background-color: $red;
      width: 100%;
      height: 2px;
      top: 40px;
      left: 0;

      @include vp-1199 {
        top: 38px;
      }
    }
  }

  &::disable {
    opacity: 0.5;
  }
}

.tab__container {
}

.tab__content {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  list-style: none;
  margin: 23px 0 0;
  padding: 0;

  @include vp-1199 {
    gap: 40px;
    margin: 25px 0 0;
  }

  @include vp-767 {
    gap: 39px;
    margin: 15px 0 0;
  }

  &--active {
    display: flex;
  }
}

.tab__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 60px 74px;
  background-color: $white;
  border: 7px solid $white;

  @include vp-1199 {
    padding: 55px 108px 60px;
  }

  @include vp-767 {
    padding: 45px 35px 40px;
  }

  @include hover {
    border-image-source: linear-gradient(
      148.82deg,
      #d10a42 0.85%,
      #00359f 100%
    );
    border-image-slice: 1;
  }
}

.tab__card-title {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: $primary;
  margin: 0;
  padding: 0;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.tab__card-subtitle {
  @include text-regular;
  margin: 10px 0 0 0;
  padding: 0;
}

.tab__card-price {
  position: relative;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0em;
  color: $blue;
  margin: 65px 0 35px 0;
  padding: 0;
  z-index: 1;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
    margin: 55px 0 30px 0;
  }

  &::before {
    position: absolute;
    content: attr(value);
    font-size: 100px;
    font-weight: 700;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: left;
    color: #e8e8e8;
    z-index: -1;
    bottom: -5px;
    right: -20px;

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
      bottom: 0;
      right: -15px;
    }
  }
}

.tab__card-icon {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.tab__card-link {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 25px 43px;
  border: 2px solid $primary;

  @include vp-767 {
    padding: 24px 43px;
  }

  @include hover-focus {
    background: $gradient-btn;
    border-color: $white;
    color: $white;
  }

  @include active {
    color: rgba($white, 0.5);
  }

  &::disable {
    opacity: 0.5;
  }
}
