.trainer {
}

.trainer__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin: 0 auto;
  padding: 0 20px 105px;
  max-width: $vp-1200;

  @include vp-1023 {
    padding: 0 100px 105px;
    gap: 30px;
  }

  @include vp-767 {
    padding: 0 47px 105px;
    gap: 45px;
  }
}

.trainer__title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: left;
  color: $primary;
  padding: 0;
  margin: 0;

  @include vp-1023 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.trainer__btn {
  fill: none;
  border: none;
  background-color: inherit;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;

  &--prev {
    transform: rotate(180deg);
    bottom: 45%;
    left: -3%;
    @include vp-1279 {
      left: -0.5%;
    }
    @include vp-1199 {
      left: -1px;
    }
    @include vp-1023 {
      bottom: 48%;
      left: 45px;
    }
    @include vp-767 {
      bottom: 50%;
      left: 15px;
    }
  }

  &--next {
    bottom: 45%;
    right: -3%;
    @include vp-1279 {
      bottom: 45%;
      right: -0.5%;
    }
    @include vp-1199 {
      bottom: 45%;
      right: -1px;
    }
    @include vp-1023 {
      bottom: 48%;
      right: 45px;
    }
    @include vp-767 {
      bottom: 50%;
      right: 15px;
    }
  }

  @include hover-focus {
    border: 1px solid $primary;
  }

  @include active {
    background-color: $primary;
  }

  &::disable {
    opacity: 0.5;
  }
}

.trainer__btn-icon {
  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.trainer__slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.trainer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trainer__item {
  position: relative;
  padding: 0;
  margin: 0;

  &--active {
    .trainer__item-name {
      background: rgba(16, 38, 84, 0.89);
      width: 100%;
      height: 100%;
      max-width: 260px;
      bottom: -5%;
      padding: 55px 0 0;
      &::before {
        content: attr(instructor);
        position: absolute;
        top: 75px;
        left: 105px;
        font-family: "RobotoCondensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
      }
    }
    .trainer__item-list {
      display: flex;
    }
  }

  @include hover-focus {
    .trainer__item-name {
      background: rgba(16, 38, 84, 0.89);
      width: 100%;
      height: 100%;
      max-width: 260px;
      bottom: -5%;
      padding: 55px 0 0;
      &::before {
        content: attr(instructor);
        position: absolute;
        top: 75px;
        left: 105px;
        font-family: "RobotoCondensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
      }
    }
    .trainer__item-list {
      display: flex;
    }
  }
}

.trainer__item-name {
  position: absolute;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: $white;
  z-index: 2;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  min-width: 220px;
}

.trainer__item-list {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: disc;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  margin: 50px 0 0;
  padding: 0 10px 0 70px;
}

.trainer__img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;

  @include vp-767 {
    height: 274px;
  }
}
